<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2003-07TNow">
                        <span>Jan <strong class="text-upper">2016</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>复旦大学计算机科学技术学院教师</h3>
                    <span class="education-company">高级讲师，硕士生导师</span>
                    <span class="education-company">校教学发展中心FD-QM项目组研究员</span>
                   <span class="education-company">校教学督导</span>
                </div>
                <!-- .education-box -->

               
            </div>
        </div>
    </div>
</section><!-- .section -->